
.container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
  color: rgb(255, 255, 255);
  grid-row: auto / span 2;
  display: grid;
  grid-template-rows: subgrid;
  align-items: unset;
  border: 5px solid transparent;
}
.img {
  border: 5px solid transparent;
  border-radius: 1em;
  width: 100%;
  height: 90%;
}